@import "reset.css";
@import url("https://fonts.googleapis.com/css?family=Lato:300,700&display=swap");

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.7;
  background-color: #2c3e50;
  width: 100%;
  height: 100%;
}

.cnt {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.app {
  margin: 20px;
  width: 100%;
  max-width: 940px;
  height: 480px;
  background-color: rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(24px);
  border-radius: 16px;
  color: white;
  display: flex;
  flex-direction: row;
}

.home {
  display: flex;
  flex-direction: column;
  padding: 40px 24px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.js-clock h1 {
  font-size: 16px;
}

.js-clock {
  flex: 1;
}

.user {
  margin-top: 16px;
}

.toDos {
  flex: 3;
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgba(255, 255, 255, 0.05);
  padding: 40px 24px;
}

.js-toDoList {
  flex: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  margin-bottom: 16px;
}

.js-toDoList li {
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.1);
  padding: 16px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.js-toDoList li span {
  flex: 1;
  margin-left: 8px;
  word-break: break-all;
}

.js-toDoList li button {
  width: 24px;
  height: 24px;
  color: white;
  border: 1px solid #5abdff;
  border-radius: 16px;
  background: none;
}
.js-toDoList li button:hover {
  background: #5abdff;
  transition-duration: 0.3s;
}

.js-toDoList::-webkit-scrollbar {
  display: none;
  word-break: break-all;
}

input {
  color: white;
  background-color: rgba(255, 255, 255, 0.16);
  width: 100%;
  border-radius: 16px;
  border: none;
  padding-left: 16px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

input:focus {
  outline: none;
  border: 2px solid #5abdff;
}

.js-weather {
  margin-bottom: 24px;
}
.js-weather span {
  font-size: 32px;
}

.form,
.greetings {
  display: none;
  font-size: 24px;
  font-weight: 700;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }

  .home {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding: 8px 24px;
  }

  .toDos {
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    overflow: hidden;
  }

  .js-clock,
  .js-weather {
    display: none;
  }
}
